.profile-pic {
  object-fit: cover;
  object-position: top;
}

.bg-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

body {
  background-color: lavender;
}

.top-align-icons {
  vertical-align: top;
}

.self-name {
  font-family: samarkan;
  font-size: 2.5em !important;
}
