.profile-pic {
  object-fit: cover;
  object-position: top;
}

.bg-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

body {
  background-color: lavender;
}

.top-align-icons {
  vertical-align: top;
}

.self-name {
  font-family: samarkan;
}

.responsive-img {
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: lightgrey;
}
