.ahins .hll { background-color: #ffffcc }
.ahins  { background: #f8f8f8; }
.ahins .c { color: #408080; font-style: italic } /* Comment */
.ahins .err { border: 1px solid #FF0000 } /* Error */
.ahins .k { color: #008000; font-weight: bold } /* Keyword */
.ahins .o { color: #666666 } /* Operator */
.ahins .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.ahins .cp { color: #BC7A00 } /* Comment.Preproc */
.ahins .c1 { color: #408080; font-style: italic } /* Comment.Single */
.ahins .cs { color: #408080; font-style: italic } /* Comment.Special */
.ahins .gd { color: #A00000 } /* Generic.Deleted */
.ahins .ge { font-style: italic } /* Generic.Emph */
.ahins .gr { color: #FF0000 } /* Generic.Error */
.ahins .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.ahins .gi { color: #00A000 } /* Generic.Inserted */
.ahins .go { color: #888888 } /* Generic.Output */
.ahins .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.ahins .gs { font-weight: bold } /* Generic.Strong */
.ahins .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.ahins .gt { color: #0044DD } /* Generic.Traceback */
.ahins .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.ahins .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.ahins .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.ahins .kp { color: #008000 } /* Keyword.Pseudo */
.ahins .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.ahins .kt { color: #B00040 } /* Keyword.Type */
.ahins .m { color: #666666 } /* Literal.Number */
.ahins .s { color: #BA2121 } /* Literal.String */
.ahins .na { color: #7D9029 } /* Name.Attribute */
.ahins .nb { color: #008000 } /* Name.Builtin */
.ahins .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.ahins .no { color: #880000 } /* Name.Constant */
.ahins .nd { color: #AA22FF } /* Name.Decorator */
.ahins .ni { color: #999999; font-weight: bold } /* Name.Entity */
.ahins .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.ahins .nf { color: #0000FF } /* Name.Function */
.ahins .nl { color: #A0A000 } /* Name.Label */
.ahins .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.ahins .nt { color: #008000; font-weight: bold } /* Name.Tag */
.ahins .nv { color: #19177C } /* Name.Variable */
.ahins .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.ahins .w { color: #bbbbbb } /* Text.Whitespace */
.ahins .mb { color: #666666 } /* Literal.Number.Bin */
.ahins .mf { color: #666666 } /* Literal.Number.Float */
.ahins .mh { color: #666666 } /* Literal.Number.Hex */
.ahins .mi { color: #666666 } /* Literal.Number.Integer */
.ahins .mo { color: #666666 } /* Literal.Number.Oct */
.ahins .sb { color: #BA2121 } /* Literal.String.Backtick */
.ahins .sc { color: #BA2121 } /* Literal.String.Char */
.ahins .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.ahins .s2 { color: #BA2121 } /* Literal.String.Double */
.ahins .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.ahins .sh { color: #BA2121 } /* Literal.String.Heredoc */
.ahins .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.ahins .sx { color: #008000 } /* Literal.String.Other */
.ahins .sr { color: #BB6688 } /* Literal.String.Regex */
.ahins .s1 { color: #BA2121 } /* Literal.String.Single */
.ahins .ss { color: #19177C } /* Literal.String.Symbol */
.ahins .bp { color: #008000 } /* Name.Builtin.Pseudo */
.ahins .vc { color: #19177C } /* Name.Variable.Class */
.ahins .vg { color: #19177C } /* Name.Variable.Global */
.ahins .vi { color: #19177C } /* Name.Variable.Instance */
.ahins .il { color: #666666 } /* Literal.Number.Integer.Long */
