{% extends "base.html" %}

{% block extra_assets %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
  <link type="text/css" rel="stylesheet" href="{% static "css/compose.css" %}" />
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {% autoescape off %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col offset-m1 m10 s12">
        <div class="card detailed-post">
          <div class="card-image">
            <img src="//placehold.it/1000x500" />
            <span class="card-title">{{ title }}</span>
          </div>
          <div class="card-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endautoescape %}
{% endblock %}
