{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block compose_bar %}
  {% if user.is_authenticated %}
    <div class="fixed-action-btn">
      <form method="post" action="/compose/new/">
        {% csrf_token %}
        <input name="type" value="new_blog_post" class="hide" />
        <button type="submit"
            class="btn-floating btn-large red tooltipped"
            data-position="top"
            data-tooltip="Create new">
          <i class="material-icons large">add</i>
        </button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    {% for post in object_list %}
      <div class="row">
        <div class="col offset-m2 m8 s12">
          {% if post.is_published %}
          <a href="/posts/{{ post.id }}/">
          {% endif %}
            <div class="card">
              <div class="card-image">
                <img src="{{ post.background_image }}" height="200px" class="bg-cover"/>
                <div class="card-title title-shadow">
                  {{ post.title }}
                </div>
                <a href="/compose/{{ post.id }}/"
                    class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
                    data-position="top"
                    data-tooltip="Edit">
                    <i class="material-icons">edit</i></a>
              </div>
              <div class="card-content">
                  <div class="row">
                    <div class="col m8 s8">
                      {{ post.summary }}
                    </div>
                    <div class="col m4 s4">
                      {% if post.is_published %}
                        <a class="btn-flat disabled" disabled>
                          Published <i class="material-icons right">check_circle</i>
                        </a>
                      {% else %}
                        <a class="btn-flat disabled" disabled>
                          Published <i class="material-icons right">close</i>
                        </a>
                      {% endif %}
                    </div>
                  </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
