<div class="col m6 s12">
  <a href="/posts/{{ published_post.id }}/">
    <div class="card">
      <div class="card-image">
        <img src="{{ published_post.background_image }}" />
        <div class="card-title title-shadow">
          {{ published_post.title }}
        </div>
      </div>
      <div class="card-content">
        {% for tag in published_post.tags.all %}
          <div class="chip">
            {{ tag }}
          </div>
        {% endfor %}
        <!-- {{ published_post.summary }} -->
      </div>
    </div>
  </a>
</div>