{% extends "base.html" %}

{% block title %}
  About - Ishan Khare
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col m8 s12 offset-m2">
        <div class="card-panel">
          I am a Fullstack Developer, currently working with
          <a href="//rebit.org.in"><u>Reserve Bank IT (ReBIT)</u></a> - the IT subsidiary
          of Reserve Bank of India. I usually work with the following:
          <ul>
            <li>
              <u>Backend​</u>: Python(flask/django/tornado), Golang, Erlang/Elixir, PHP, Nodejs
            </li>
            <li>
              <u>DevOps</u>: Docker, Kubernetes and GitlabCI
            </li>
            <li>
              <u>Frontend</u>: Angular, Javascript, Typescript, flex-layout, bootstrap, jQuery, HTML, CSS.
            </li>
            <li>
              <u>Others</u>: C, Golang, Kotlin, Crystal, Git and gitflow, vim, tmux, shell
            </li>
          </ul>
          <hr />
          <p>
            Here's my most updated <a href="/resume.pdf">resume</a>.
          </p>
          <p>
            I'm best reachable through email - &lt;me at this site dot com&gt;
          </p>
          <p>
            I would <b>not</b> like to be contacted by <u>agencies</u> for any work oppertunities or freelance work.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
