{% extends "base.html" %}

{% block title %}
  About - Ishan Khare
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col m8 s12 offset-m2">
        <div class="card-panel">
          I am a Fullstack Developer, currently working with
          <a href="//www.goibibo.com"><u>Goibibo</u></a> - (Go-mmt) the joint entity formed post the
          merger between MakeMyTrip and Ibibo group. I usually work with the following:
          <ul>
            <li>
              <u>Backend</u>: Golang, Python(flask/django/tornado), Erlang, PHP, Nodejs
            </li>
            <li>
              <u>DevOps</u>: Docker, Kubernetes and GitlabCI
            </li>
            <li>
              <u>Frontend</u>: Angular, Javascript, Typescript, flex-layout, bootstrap, jQuery, HTML, CSS.
            </li>
            <li>
              <u>Others</u>: C, Kotlin, Crystal, Git and gitflow, vim, tmux, shell
            </li>
          </ul>
          <hr />
          <p>
            {% load static %}
            Here's my most updated <a href="{% static "resume.pdf" %}">resume</a>.
          </p>
          <p>
            I'm best reachable through email - &lt;me at this site dot com&gt;
          </p>
          <p>
            I would <b>not</b> like to be contacted by <u>agencies</u> for any work opportunities or freelance work.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
