<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>{% block title %}{% endblock %}</title>
  {% include "assets.html" %}
  {% block extra_assets %}
  {% endblock %}
</head>

<body>
  <div class="navbar-fixed">
    <nav class="">
      <div class="nav-wrapper blue darken-2">
        <a href="/" class="brand-logo center">
          Ishan Khare
        </a>
        <ul class="left">
          <li id="navToggle" data-activates="slide-out"><a href="#"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
            <li>
              <a id="settings_dropdown_button"
                  class="dropdown-button"
                  data-activates="settings_dropdown"
                  data-beloworigin="true"
                  data-constrainWidth="false" href="#">
                <i class="material-icons">settings</i>
              </a>
            </li>

            <ul id="settings_dropdown" class="dropdown-content">
              <li>
                <a href="/posts/list/">
                  <i class="material-icons">list</i>Blog Posts
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' %}">
                  <i class="material-icons">exit_to_app</i>Logout
                </a>
              </li>
            </ul>
          {% else %}
          <li>
            <a href="{% url 'login' %}">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          {% load static %}
          <img class="img-responsive bg-image" src="{% static "images/bg-1.jpg" %}">
        </div>
        {% load static %}
        <a href="#"><img class="img-responsive profile-pic circle" src="{% static "images/profile_pic.jpg" %}"></a>
        <a href="#"><span class="white-text name">Ishan Khare</span></a>
        <a href="mailto:ishankhare07@gmail.com"><span class="white-text email">ishankhare07@gmail.com</span></a>
      </div>
    </li>
    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#">Second Link</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>

  {% block compose_bar %}

  {% endblock %}

  {% block content %}

  {% endblock %}
</body>

{% include "scripts.html" %}

<footer>
  {% block footer %} {% endblock %}
</footer>
</html
